<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Наше приложение</a>
        {% if current_user.is_authenticated %}

        <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>


        {% else %}
        <p>
            <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
            <a class="btn btn-success" href="/login">Войти</a>
        </p>
        {% endif %}
    </nav>

    <form action="" method="post">
        <div class="container">
            <!-- Любой код -->
            <div>

                <p>
                    {% if current_user.user_type == 0%}
                        <a class="btn btn-success" style = "width: 80px; height:80px" href="/orders">Заказ</a>

                    {% elif current_user.user_type == 1 %}
                        <a class="btn btn-success" style = "width: 80px; height:80px" href="/orders">Заказ</a>
                    {% elif current_user.user_type == 2 %}
                        <a class="btn btn-success" style = "width: 180px; height:80px" href="/orders/assign">Брать заказ</a>
                        <a class="btn btn-success" style = "width: 180px; height:80px" href="/orders/complete">Выполнить заказ</a>
                        <a class="btn btn-success" style = "width: 180px; height:80px" href="/couriers/edit">Редактировать инфу</a>
                    {% elif current_user.user_type == 3 %}
                        <a class="btn btn-success" style = "width: 180px; height:80px" href="/couriers/delete">Удалить курьера</a>
                        <a class="btn btn-success" style = "width: 180px; height:80px" href="/couriers">Утвердить курьера</a>

                    {% endif %}
                </p>
            </div>
        </div>


    </form>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>