 
 
<html>
<form name='test' method='post' action='http://localhost:8080/get_courirer/1'>
  <p><b>Фамилия:</b><br>
    <input type='text' name='lastname' size='40'>
  </p>
  <p><b>Имя:</b><br>
    <input type='text' name='firstname' size='40'>
  </p>
  
  <p>Role</p>
  <input type="radio" id="role1" name="role" value="admin">
  <label for="role1">Admin</label><br>
  <input type="radio" id="role2" name="role" value="user">
  <label for="role2">User</label><br>
  <input type="radio" id="role3" name="role" value="bot">
  <label for="role3">Bot</label>
 
  
  <p>
    <input type='submit' value='Войти'>
  </p>
    

</form> 
</html>
